
body{
  background-color: #115ff4;
  font-family: Georgia, serif;
}

#title{
  text-align: center;
  color: aliceblue;
}

.container-lg{
  max-width: 85%;
  max-height: auto;
}

#start-btn{
  color:white;
  background-color:#8d2ab5;
  margin-bottom: 10px;
  border: none;
}
.table{
  background-color: #060ce9 ;
  table-layout: fixed;
}

#question{
  background-color: #28a200;
}
#answer{
  background-color: #28a200;
}

td.clue{
  vertical-align: middle;
  table-layout: fixed;
  width: 10%;
  height: 120px;
  font-size: .8vw;
  font-weight:lighter;
  color: white;
}

#category{
  vertical-align: middle;
  font-size: .9vw;
  font-weight: bold;
  color: white;
  height: 50%;
  
}

#question-mark{
  color: white;
  
}
#spinner{
  color:white;
  margin-top: 55px;
}
